[run]
branch = True
source =
  snips_nlu
omit =
  snips_nlu/tests/*
  cli/tests/*
  sample/test/*

[report]
omit =
  snips_nlu/tests/*
  cli/tests/*
  sample/test/*

[paths]
source =
    snips_nlu
    .tox/*/lib/python*/site-packages/snips_nlu