include snips_nlu/__version__
recursive-include cli *.py
recursive-include samples *
recursive-include nlu_dataset *
recursive-include snips_nlu/snips-nlu-resources/de *
recursive-include snips_nlu/snips-nlu-resources/en *
recursive-include snips_nlu/snips-nlu-resources/es *
recursive-include snips_nlu/snips-nlu-resources/fr *
recursive-include snips_nlu/snips-nlu-resources/ko *
recursive-include snips_nlu/snips-nlu-resources/zh *
global-exclude __pycache__ *.py[cod]